/* *****About page styles***** */

.firstRow {
	margin: 1% auto;
}
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.fullWidth .columns {
	padding: 0;
}
.navBar.top-bar {
	background-color: #333333;
}
#logo {
	display: block;
	margin: auto;
}
a {
	color: #cd005e;
}
#animated {
	padding-top: 15px;
}
p {
	font-family: 'Oswald', Arial, sans-serif;
	font-size: 24px;
	padding: 0 5px;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
        background: #cd005e;
}
#bluenote p {
	font-family: 'Oswald', Arial, sans-serif;
	font-weight: 300;
	padding: 0 10px;
}
a:hover, a:focus {
    color: #0066ae;
}
dialog .close-reveal-modal, .reveal-modal .close-reveal-modal {
    font-size: 2.5rem;
    line-height: 1;
    position: absolute;
    top: 0.2rem;
    right: 0.6875rem;
    color: #cd005e;
    font-weight: bold;
    cursor: pointer;
}
span#finest {
	font-style: italic;
}
span#current {
	color: #cd005e;
}
span#current:hover {
	color: #0066ae;
}

span#attribution {
	font-style: italic;
	font-size: 14px;
	color: #cd005e;
	padding: 0 10px;
}


/* *****Price list page styles***** */

.priceList table {
	margin: 0 auto;
}

.success {
	color: #afd8f0;
	position: absolute;
	top: 160px;
	left: 40px;
	padding: 5px 0 7px 40px;
	background: url(../images/success.png) no-repeat top left;
}

/* ***** ORBIT SLIDER ***** */
.orbit-container .orbit-next, .orbit-container .orbit-next > span {
	display: none;
}

.orbit-container .orbit-prev, .orbit-container .orbit-prev > span {
	display: none;
}

.orbit-container .orbit-slide-number, .orbit-container .orbit-slide-number span, .orbit-container .orbit-timer, .orbit-container:hover .orbit-timer > span {
   display: none;
}

.orbit-container .orbit-bullets li {
 	background-color: #0066ae;
}

.orbit-container .orbit-bullets li.active {
    background-color: #cd005e;
}


/* ***** MEDIA QUERIES ***** */

@media screen and (max-width: 1024px) and (min-width: 320px) {
	#animated {
	display: block;
	margin: auto;
	padding-bottom: 20px;
	}
}